@import '_vars';
// Main content
.contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h1{
    flex: 1 1 100%;
    margin-bottom: 40px;
  }
  // Afbeelding van Trudy.
  .contact--trudy {
    // height: 35.16%;
    width: 16.74vw;
    display: inline-block;
    position: relative;
    margin: 0 7.5px;
    @media #{$laptop}{
      width: 20vw;
    }
    @media #{$tablet}{
      width: 25vw;
    }
    @media #{$porTablet}{
      width: 27vw;
    }
    @media #{$mobile}{
      width: 40%;
    }
    @media #{$smallMobile}{
      display: none;
    }
    img{
      object-fit: cover; // Makes the image Fill the div. (like background-size: cover;)
      object-position: center center; // Basicly backround-position: center center;
      width: 100%; //Makes the image width 100% of the parent div
      height: 100%; // Makes the image height 100% of the parent div
    }
  }
  // Visitekaartje en text wrap
  .contact--aside{
    display: inline-block;
    width: 23.61vw;
    position: relative;
    margin: 0 7.5px;
    @media #{$laptop}{
      width: 28vw;
    }
    @media #{$tablet}{
      width: 32vw;
    }
    @media #{$porTablet}{
      width: 34vw;
      p{
        font-size: 1.6em;
      }
    }
    @media #{$mobile}{
      width: 50%;
      p{
        font-size: 1.5em;
      }
    }
    @media #{$smallMobile}{
      width: 100%;
    }
    // Visitekaartje afbeelding
    img{
      width: 100%;
      height: auto;
    }
    // Wrap Text
    .contact--aside__innerwrap{
      padding: 15px 10px;
      // Mail to link.
      a{
        color: $textCol;
        text-decoration: none;
      }
    }
    // Social Icons.
    .contact--aside__social{
      margin-top: 10px;
      img{
        height: 36px;
        width: auto;
      }
    }
  }
}