@import '_vars';
// Portfolio Grid FallBack older Browsers
// Portfolio navigation

// CSS-grid (Currently aligned browsers)
@supports(display: grid){
  .portfolio{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 3%;
    grid-row-gap: 25px;
    @media #{$laptop}{
      margin: 0 2%;
    }
    // Portfolio Items
    section{
      grid-column: span 6;
      order: 3;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 10px;
      &.pinned{
        order: 2;
      }
      img{
        grid-column: span 4;
        width: 100%;
        @media #{$mobile}{
          display: none;
        }
        @media #{$smallMobile}{
          display: none;
        }
      }
      div{
        grid-column: span 8;
        background-color: #EBEBEB;
        padding: 14px;
        @media #{$mobile}{
          grid-column: span 12;
        }
        @media #{$smallMobile}{
          grid-column: span 12;
        }
        a{
          color: $textCol;
        }
      }
      &.rectangle{
        img{
          grid-column: span 6;
          @media #{$smToPor}{
            grid-column: span 12;
          }
        }
        div{
          grid-column: span 6;
          @media #{$smToPor}{
            grid-column: span 12;
          }
        }
      }
      @media #{$tablet} {
        grid-column: 2 / span 10;
      }
      @media #{$smToPor} {
        grid-column: 2 / span 10;
      }
      @media #{$mobile} {
        grid-column: span 12;
      }
      @media #{$smallMobile} {
        grid-column: span 12;
      }
    }
    // Portfolio navigation
    section[role="navigation"]{
      grid-column: span 12;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      order: 1;
      flex-wrap: wrap;
      a{
        color: #324B51;
        font-size: 1.8em;
        font-family: $sourceSans;
        font-weight: 600;
        text-decoration: none;
        margin: 5px 2%;
        @media #{$mobile}{
          flex: 1 1 25%;
        }
        @media #{$smallMobile}{
          flex: 1 1 25%;
        }
      }
      h1{
        margin: 0 2% 0 0;
        @media #{$mobile}{
          flex: 1 1 100%;
        }
        @media #{$smallMobile}{
          flex: 1 1 100%;
        }
      }
      input{
        flex: 1 2 200px;
        height: 35px;
        padding: 0 12px;
        font-family: $sourceSans;
        font-size: 1.6em;
        font-weight: 600;
        border-radius: 0;
        border: 3px solid $textCol;
        margin: 10px 0;
      }
    }
    a[role="button"]{
      order: 4;
      grid-column: 5 / span 4;
      @media #{$smToPor}{
        grid-column: 2 / span 10;
      }
    }
  }

}