@import '_vars';

// IE11 and older browsers fallback.
// Main div
.schrijfwerk{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // Text block (artikelen -- boeken -- redactiewerk)
  section{
    flex: 1 1 28%;
    margin: 0 2.5% 25px;
    @media only screen and (min-width: 801px) and (max-width: 1200px){
      flex: 1 1 40%;
      &:last-of-type {
        flex: 1 1 100%;
      }
    }
    @media #{$smToPor}{
      flex: 1 1 80%;
    }
  }
  // Button naar speeches
  a[role="button"]{
    flex: 0;
    white-space: nowrap;
  }
}

// For Current browser line up CSS-grid
@supports (display: grid) {
  // Main div
  .schrijfwerk{
    display: grid;
    grid-template-columns: repeat(12, 1fr); // 12 grid system even colums.
    grid-gap: 5%; // Gap between columns
    grid-row-gap: 25px; // Gap between rows
    // Naar Speeches button
    a[role="button"]{
      grid-column: 5 / span 4;
      @media #{$smToPor}{
        grid-column: 3 / span 8;
      }
    }
    // Text block (artikelen -- boeken -- redactiewerk)
    section{
      grid-column: span 4;
      @media only screen and (max-width: 1200px){
        grid-column: span 6;
        &:last-of-type{
          grid-column: 3 / span 8; // Start column / end column (spans 8 colums)
        }
      }
      @media #{$smToPor}{
        grid-column: 3 / span 8;
      }
      @media #{$mobile}{
        grid-column: 2 / span 10;
        &:last-of-type{
          grid-column: 2 / span 10;
        }
      }
      @media #{$smallMobile}{
        grid-column: span 12;
        &:last-of-type{
          grid-column: span 12;
        }
      }
    }
  }
}